.floating-emojis {
  position: relative;
  width: fit-content;
  background: transparent;
  display: flex;
  background: var(--dark);
  border-radius: 1.125rem;
  margin: 0 auto;
  padding: 0.25rem 0.375rem;
}
.floating-emojis livelike-vote-count {
  color: white;
  position: absolute;
  left: 0;
  font-size: 0.625rem;
  z-index: 5;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-weight: 600;
}
.floating-emojis livelike-option {
  padding: 3px 0.425rem 15px;
  height: auto;
  border: 2px solid transparent;
  border-radius: 0.875rem;
}
.floating-emojis livelike-option:hover {
  border-color: var(--primary);
  background: var(--primary);
}
.floating-emojis livelike-image {
  width: 100%;
}
livelike-widgets#cheer-widget-container {
  height: -moz-max-content;
  height: max-content;
  transform: translate(0px, -8.75rem);
}
livelike-chat {
  display: block;
  position: relative;
  height: 100%;
}
@keyframes floatUp {
  0% {
    opacity: 1;
    bottom: 10%;
  }
  100% {
    opacity: 0;
    bottom: 100%;
  }
}
.floater {
  height: 25px;
  width: 25px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  animation-name: floatUp;
}